.corpo{
    background-color: cadetblue;
}

.titulo{
    color: black;
    font-size: 50px;
}

.paragrafo{
    color: rgb(0, 0, 0);
    font-size: 28px;
}

.subtitulo{
    color: black;
    font-size: 20px;
}

.imagem{
    align-items: center;
    padding: 10 10px;
    width: 0 10px;
}

titulo2{
    color: white;
}
