.corpo{
    background-color: cadetblue;
}

titulo2{
    font-size: 15px;
    color: white;
}

.paragrafo{
    color: rgb(0, 0, 0);
    font-size: 28px;
}

.imagem{
    align-items: center;
    padding: 10 10px;
    width: 0 10px;
}

