.corpo{
    background-color: cadetblue;
}

.titulo2{
    font-size: 15px;
    color: white;
}

.paragrafo{
    color: rgb(0, 0, 0);
    font-size: 28px;
}

.imagem{
    align-items: center;
    padding: 10 10px;
    width: 0 10px;
}








@media screen  and (min-width: 425px) {
    .corpo{
        background-color: cadetblue;
    }
    }
    
    .titulo{
        color: rgb(7, 60, 73);
        font-size: 40px;
    }

    titulo2{
        color: white;
    }
    
    .paginas{
        color:rgb(209, 214, 209);
        font-size: 15px;
    }
