
.corpo{
    background-color: cadetblue;
}

.cabecalho{
    background-color: rgb(40, 109, 87);
    text-align: center;
    padding: 0 0;
    margin: 0 0;
}

.titulo{
    color: rgb(7, 60, 73);
    font-size: 50px;
}

.lista{
    list-style: none;
    padding: 0;
    
}

.paginas{
    display: inline;
    margin: 0 15px;
}

.item{
    color: #7ddccb;
    font-size: 25px;
    text-decoration: none;
}

@media screen  and (min-width: 425px) {
    .corpo{
        background-color: cadetblue;
    }
    }
    
    .titulo{
        color: rgb(7, 60, 73);
        font-size: 50px;
    }
    
    .paginas{
        color:rgb(209, 214, 209);
        font-size: 15px;
    }
