
.corpo{
    background-color: rgb(92, 244, 186);
}

.cabecalho{
    background-color: rgb(40, 109, 87);
    text-align: center;
    padding: 0 10px;
    font-size: 10px;
}

.lista{
    align-items: center;
    list-style: none;
    align-self: center;
    align-content: center;
}

.titulo{
    color: rgb(7, 60, 73);
    font-size: 50px;
}

.paginas{
    color: rgb(209, 214, 209);
    font-size: 15px;
}

@media screen  and (min-width: 425px) {
    .corpo{
        background-color: rgb(81, 194, 194);
    }
    }
    
    .titulo{
        color: rgb(7, 60, 73);
        font-size: 50px;
    }
    
    .paginas{
        color:rgb(209, 214, 209);
        font-size: 15px;
    }
}