











@media screen  and (min-width: 425px) {
    .corpo{
        background-color: cadetblue;
    }
    }
    
    .titulo{
        color: rgb(7, 60, 73);
        font-size: 45px;
    }

    .paragrafos{
        color: rgb(19, 78, 78);
        font-size: 40px;
    
    }

    .titulo2{
        color: rgb(39, 72, 75);
        font-size: 35px;
        border: dashed rgb(39, 72, 75);
    }

    
    .paragrafo{
        color: black;
        font-size: 25px;
    
    }
    
