











@media screen  and (min-width: 425px) {
    .corpo{
        background-color: cadetblue;
    }
    }
    
   .cabecalho{
        background-color:  rgb(43, 76, 78);
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }

    .titulo{
        color: rgb(58, 170, 160);
        font-size: 45px;
        border: 15px double;
    }

    .paragrafos{
        color: rgb(153, 220, 220);
        font-size: 40px;
    
    }

    .titulo2{
        color: rgb(39, 72, 75);
        font-size: 35px;
        border: dashed rgb(39, 72, 75);
    }

    
    .paragrafo{
        color: black;
        font-size: 25px;
    
    }
    
