.corpo{
    background-color: cadetblue;
}


.titulo{
    color: rgb(7, 60, 73);
    font-size: 50px;
   text-align: center;
   border: dashed rgb(7, 84, 70);
}


.subtitulo{
    color:rgb(39, 72, 75);
    font-size: 32px;
}

.titulo2{
    color: rgb(39, 72, 75);
    font-size: 40px;
}

.titulo3{
    color: aquamarine;
    font-size: 45px;
}
.paragrafos{
    color: black;
    font-size: 30px;

}






@media screen  and (min-width: 425px) {
    .corpo{
        background-color: cadetblue;
    }
    }
    
    .titulo{
        color: rgb(7, 60, 73);
        font-size: 50px;
    }

    .subtitulo{
        color:rgb(39, 72, 75);
        font-size: 32px;
    }
    

    .paginas{
        color:rgb(209, 214, 209);
        font-size: 15px;
    }

    .titulo2{
        color: rgb(39, 72, 75);
        font-size: 35px;
        border: dashed rgb(39, 72, 75);
    }
    
    .titulo3{
        color: aquamarine;
        font-size: 30px;

    }
    .paragrafos{
        color: black;
        font-size: 25px;
    
    }